[run]
relative_files = True
source = 
    apps
    core
branch = True
omit = 
    */__init__.py
    manage.py
    */config/*
    */migrations/*
    */fixtures/*
    */tests/*
    */admin.py
    */api.py
    */urls.py

[report]
show_missing=True
skip_covered=True
