[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
drf-spectacular = "*"
python-decouple = "*"
djangorestframework = "*"
djangorestframework-simplejwt = "*"
django-cors-headers = "*"
boto3 = "*"
botocore = "*"
celery = {extras = ["redis"], version = ">=5.3"}
redis = "*"
pillow = "*"

[dev-packages]
coverage = "*"
pylint = "*"
pylint-django = "*"
black = "*"
mypy = "*"
factory-boy = "*"
faker = "*"
pytest-django = "*"
pytest-cov = "*"
pytest-mock = "*"

[requires]
python_version = "3.13"
